{% extends "_base.html" %}
{% block titlecontent %}Admin Page{% endblock %}
{% block bodycontent %}  


<!-- /.container -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Admin Page</h1>
		</div>

	</div>
	<!-- TODO --> 
	<div class="col-lg-4">
		<h2> Menu	<h2>
			<h4 class="page-header"><a href="/admin">Add Entry</a></h4>
			<h4 class="page-header"><a href="/editdeleteentries">Delete/Edit Entries</a></h4>
		</div>

		<div class="col-lg-8">
			<form action="/admin" enctype="multipart/form-data" method="post">
				<div><label>Titulo:</label><br /><input size="80" type="text" name="titulo" maxlength="200" /></div>
				<div><label>Kategorya:</label><br />

					<select name="kategorya">
						<option value="pelikula" selected>Pelikula</option>
						<option value="palabas">Palabas</option>
						<option value="teleserye">Teleserye</option>
					</select>

				</div>

				<div><label>Letrato Link:</label><br /><input type="text" name="letrato_link" maxlength="400" size="90" /></div>
				<br>
				<input type="submit" value="submit">
			</form>
		</div>
    <!--
	<div class="row">

		<div class="col-lg-12">
			<h3 class="page-header">Related Projects</h3>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300">
			</a>
		</div>

		<div class="col-sm-3 col-xs-6">
			<a href="#">
				<img class="img-responsive portfolio-item" src="http://placehold.it/500x300">
			</a>
		</div>
	</div>
-->
</div>
<!-- /.container -->

{% endblock %}