{% extends "_base.html" %}
{% block titlecontent %}Search Page{% endblock %}
{% block bodycontent %}  

<!-- CSS improvement for Search entry results -->
 <!-- /.container -->
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                Mamili ng Kategorya

            </div>

        </div>

        
        <div class="row">

            <div class="col-md-3">
                
              Test 1

            </div>

            <div class="col-md-3">
                
            Test 2

            </div>

            <div class="col-md-3">
                
            Test 3

            </div>

            <div class="col-md-3">
                
            Test 3

            </div>
           

        </div>

      

        

    </div>
    <!-- /.container -->

{% endblock %}