{% extends "_base.html" %}
{% set active_page = "browse" %}
{% block titlecontent %}Magbrowse{% endblock %}
{% block bodycontent %}  


<!-- CSS improvement for Search entry results -->
 <!-- /.container -->
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
               <h2> Mamili ng Kategorya
 </h2>

<br /><br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
              <div class="pels">  
              <a href="/pelikula" class="cat_links">Pelikula</a>

              </div>
            </div>


            <div class="col-md-4">
              <div class="pels">  
                
              <a href="/series" class="cat_links">Series</a>
              </div>

            </div>

            <div class="col-md-4">
               <div class="pels"> 
               <a href="/palabas" class="cat_links">Palabas</a>

               </div>

            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
              <div class="pels">  
              <a href="/teleserye" class="cat_links">Teleserye</a>

              </div>
            </div>

            <div class="col-md-4">
              <div class="pels">  
              <a href="/pinoyindie" class="cat_links">Pinoy Indie</a>

              </div>
            </div>

            <div class="col-md-4">
              <div class="pels">  
              <a href="/koreanobela" class="cat_links">Koreanobela</a>

              </div>
            </div>
           
        </div>
    </div>
    <!-- /.container -->

{% endblock %}