{% extends "_base.html" %}
{% block titlecontent %}Malunggay: {{mainentry.titulo}}{% endblock %}
{% block bodycontent %}  

 <!-- /.container -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">{{mainentry.titulo}}
                    <small></small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-1"></div>          
            <div class="col-md-5">
                <img class="img-responsive" src="{{ mainentry.letrato_link }}">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <h3>Musta panood mo?</h3>    
                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'malunggaysandbox'; // malunggaypy, malunggaysandbox required: replace example with your forum shortname
                        var disqus_identifier = '{{mainentry.key()}}';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>

                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <!-- <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->

                   
            </div>

        </div>

        
        <!--
        <div class="row">    
            {% for mainentry in mainentries %}
            <div class="col-sm-3 col-xs-6">
                <h4>{{ mainentry.titulo }}</h4>
                <a href="#">
                    <img height="300" width="500" alt="malunggay-photos" class="img-responsive portfolio-item" src="{{ mainentry.letrato_link }}">
                </a>
            </div>
            {% endfor %}
      
            
        </div>
          -->

    </div>
    <!-- /.container -->

{% endblock %}